<h1>Divisions List</h1>

<p>Here are all your Divisions:</p>

<ul>
<% @divisions.each() do |division| %>
  <li><%= division.name %> <a href="/divisions/<%= division.id() %>">Update this Division name</a></li>
<% end %>
</ul>

<p>Add a new Division</p>

<form action="/divisions" method="post">
  <label for="name">Description</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Division</button>
</form>
