<h1>Update <%=@employee.name() %> </h1>

<form action="/tasks/ <%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Edit Employee's Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>
