<h1>Employee List</h1>

<p>Here are all your employees:</p>

<ul>
<% @employees.each() do |employee| %>
  <li><%= employee.name %> <a href="/employees/<%= employee.id() %>">Update this employees name</a></li>
<% end %>
</ul>

<p>Add a new employee</p>

<form action="/employees" method="post">
  <label for="name">Description</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Employee</button>
</form>
